@media (width >= 768px) {
  .header {
    justify-items: center;
  }

  .header__theme-menu {
    margin-block-start: 192px;
    margin-block-end: 173px;
    padding-inline-end: 20px;
  }

  .header__main-title {
    inline-size: 100%;
    justify-self: start;
  }

  .header__subtitle_container {
    display: flex;
    inline-size: 95%;
    margin-block-start: 162px;
    margin-block-end: 183px;
    justify-content: end;
  }

  .header__theme-menu::before {
    top: -173px;
    right: 20px;
  }

  .header__subtitle {
    inline-size: 364px;
    block-size: 117px;
  }

  .header__subtitle_container::after {
    top: 255px;
  }

  .why {
    display: grid;
    grid-template-columns: 217px 496px;
    gap: 20px;
    padding-block-start: 60px;
    justify-content: center;
  }

  .why__title {
    padding-block-start: 0;
    align-self: start;
  }

  .why__card {
    align-items: end;
  }

  .why__cards {
    padding-block-end: 0;
  }

  .what {
    padding-block-start: 80px;
  }

  .what__title {
    inline-size: 236px;
    align-self: start;
    margin-inline-start: 22px;
  }

  .what__cards {
    padding-block-end: 0;
  }

  .how {
    display: grid;
    grid-template-columns: 240px 494px;
    gap: 5px;
    padding-block-start: 80px;
    margin-inline-start: 20px;
    align-self: center;
  }

  .how__title {
    padding-block-start: 0;
    align-self: start;
  }

  .how__subtitle {
    inline-size: 100%;
    margin-block-end: 10px;
  }

  .how__cards {
    padding-block-end: 0;
  }

  .image {
    padding-block-start: 79px;
    padding-block-end: 0;
    gap: 20px;
  }

  .image__container {
    inline-size: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr 1fr 2fr);
    gap: 20px;
    min-inline-size: 728px;
    min-block-size: 780px;
  }

  .image__container-item {
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .image__container-item:first-of-type {
    grid-column: 1/3;
    grid-row: 1/2;
    max-inline-size: 100%;
  }

  .image__container-item:nth-of-type(2) {
    grid-row: 1/3;
    grid-column: 3/4;
    max-inline-size: 100%;
  }

  .image__container-item:nth-of-type(3) {
    grid-row: 2/4;
    grid-column: 1/2;
    max-inline-size: 100%;
  }

  .image__container-item:nth-of-type(4) {
    max-inline-size: 100%;
  }

  .image__container-item:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 3/4;
    max-inline-size: 100%;
  }

  .footer__content-phrase::before {
    top: 80px;
  }

  .footer__content-phrase {
    inline-size: 95%;
    padding-block-start: 523px;
    padding-block-end: 462px;
    justify-content: center;
  }

  .footer__content-phrase::after {
    top: 1040px;
  }
}
