/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: "IBM Plex mono";
  --button-color: #ff0070;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --link-color: #f1b2ce;
  --card-discription-text-color: #f1b2ce;
  --accent-color_light_1024: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec: inline;
  --coner-element-color: #ff0070;
}
