/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --button-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --title-color: #353430;
  --subtitle-color: #353430;
  --link-color: #353430;
  --card-discription-text-color: #353430;
  --accent-color_light_1024: #ff0070;
  --bg-image: url(../images/cover-image-light.png);
  --rec: none;
  --coner-element-color: #353430;
}
