/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  margin: auto;
  background-attachment: fixed;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid;
}

button:focus {
  outline: none;
  border: none;
}

button:focus-visible {
  border-block-end: 1px solid;
}

button:disabled {
  pointer-events: none;
}

.link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid;
}

.header {
  position: relative;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.header__decorative-element {
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  position: absolute;
  right: 40px;
  top: 14px;
}

.header__decorative-element::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 44px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.header__theme-menu::before {
  content: "";
  position: absolute;
  top: -65px;
  right: 11px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  z-index: 2;
}

.header__theme-menu {
  position: relative;
  margin-block-start: 74px;
  margin-block-end: 66px;
  padding-inline-end: 11px;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  font-family: var(--main-font, sans-serif);
  min-inline-size: 70px;
  min-block-size: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--accent-color);
  background: transparent;
  text-transform: lowercase;
  border: none;
  padding: 0;
}

.header__main-title {
  inline-size: 355px;
  max-block-size: 192px;
  margin: auto;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: start;
}

.header__subtitle_container {
  position: relative;
  inline-size: 355px;
  margin: auto;
  margin-block-start: 55px;
  margin-block-end: 66px;
  z-index: 1;
}

.header__subtitle {
  block-size: 117px;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__subtitle_container::after {
  content: "";
  position: absolute;
  top: 148px;
  left: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  z-index: 2;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.content {
  background-color: var(--background-color-main-section);
}

.why {
  display: flex;
  flex-direction: column;
  margin: auto;
  inline-size: 100%;
  align-items: center;
}

.why__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 50px;
}

.why__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.why__title {
  max-inline-size: 95%;
  padding-block-start: 40px;
  padding-block-end: 20px;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.why__card-title {
  min-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--subtitle-color);
}

.why__card-discription {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--card-discription-text-color);
}

.what {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.what__title {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.what__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block-end: 50px;
}

.what__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.what__card-title {
  min-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.what__card-discription {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--card-discription-text-color);
}

.how {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.how__title {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.how__subtitle {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.how__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block-end: 50px;
}

.how__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.how__card-title {
  min-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--subtitle-color);
}

.how__card-description {
  max-inline-size: 95%;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--card-discription-text-color);
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-block-end: 40px;
}

.image__title {
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--subtitle-color);
  min-inline-size: 95%;
}

.image__container {
  max-inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.image__sunset {
  max-inline-size: 95%;
}

.image__ice-cream {
  max-inline-size: 95%;
}

.image__tape {
  max-inline-size: 95%;
}

.image__books {
  max-inline-size: 95%;
}

.image__street {
  max-inline-size: 95%;
}

.footer {
  background-color: var(--background-color-main-section);
}

.footer__content-phrase {
  display: flex;
  position: relative;
  inline-size: 355px;
  min-block-size: 668px;
  margin: auto;
  align-items: center;
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--main-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer__content-phrase::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  z-index: 2;
}

.footer__content-phrase::after {
  content: "";
  position: absolute;
  top: 632px;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  z-index: 2;
}
