/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono';
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --background-color-main-section: #000028;
  --subtitle-color: #000028;
  --card-discription-text-color: #F1B2CE;
}
