/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --opacity-outline-button: rgba(255, 0, 112, 0.4);
  --main-font: "IBM Plex mono";
  --button-color: #ff0070;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --link-color: #f1b2ce;
  --card-discription-text-color: #f1b2ce;
  --accent-color_light_1024: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --rec: inline;
  --coner-element-color: #ff0070;
}
